<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style1.css" type="text/css"/>

    <title>Сленги.рф - {{word}}</title>
</head>
<body>

<header style='left: 50%; top: 5%; z-index: 100; position: absolute; transform: translate(-50%, -5%); '><a href="/" class="header"><h1>Сленги.рф</h1></a></header>

<form>
	<label for="search">Поиск</label>
	<input id="search" type="search" pattern=".*\S.*" required name=search autocomplete="off">
	<span class="caret"></span>
    
</form>

<div id = "popup">
    <a href="/?search=" class="close"><h1>×</h1></a>
    <h3 style='margin-left:20px;'>Слово: </h3><h5 style='margin-left:40px; '>{{word}}</h5> 
    <br>
    <h3 style='margin-left:20px;'>Обозначение: </h3><h5 style='margin-left:40px; '>{{description}}</h5>
    <br>
    <h3 style='margin-left:20px;'>Тип: </h3><h5 style='margin-left:40px; '>{{type}}</h5>
</div>


<footer style="left: 50%; top: 99%;z-index: 100; position: fixed;transform: translate(-50%, -99%); text-decoration: none; cursor: pointer;"><a href="/api" class="api">API</a> / <a target="_blank" href="https://vk.com/matthew_mur" class='contact'>Контакты</a></footer>

</body>
</html>